@font-face {
  font-family: "Borsok";
  src: url("fonts/boorsok.otf") format("opentype");
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #000;
}

.oval-img-container {
  width: 600px;
  height: 553px;
  border: 5px solid #ffcc33;
  border-radius: 50% 50% 33% 67% / 54% 42% 58% 46%;
  overflow: hidden;
  position: relative;
}

.oval-img-container img {
  height: 100%;
  object-fit: cover;
}

.navbar-brand {
  font-family: "Borsok", sans-serif;
}

.text-logo-color {
  color: #996852;
}

.navbar-nav .nav-link {
  position: relative;
  padding: 10px 15px;
  font-size: 16px;
  color: #000;
}

.navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  top: 60%;
  left: -5px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #f0c13a;
  border-radius: 50%;
}

.nav-link.active,
.nav-link:hover {
  color: #f0c13a !important;
}

.l-1-2 {
  line-height: 105px;
}

#menu-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

#menu-section p {
  font-size: 1.2rem;
}

.dessert-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.dessert-item img:hover {
  zoom: 1.2;
  border-radius: 0% !important;
  cursor: pointer;
}

.dessert-item h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.dessert-item .price {
  font-size: 1.2rem;
}

.bg-yellow {
  background-color: #fad234;
}

.bg-white {
  background-color: #fff;
}

.sparkles-1 {
  background-image: url("img/footer.png");
}

.child-footer {
  margin: 0 100px;
}

footer {
  margin-top: 20%;
}

@media (max-width: 992px) {
  .content {
    flex-direction: column;
  }

  iframe {
    margin-top: 40px;
  }

  .oval-img-container {
    margin: 20px;
    margin-top: 30px;
    width: 90%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .child-footer {
    margin: 0;
  }
}
